
{%  extends 'base.html' %}
{% load static %}
{% block content %}
    <section id="home">
  <div class="banner-container"> <img style="z-index: -1" src="{% static 'images/casualheadshot.jpg' %}" alt="banner" />
    <div class="container banner-content">
      <div class="heroText">
        <h2><span class="blackText"> Sarah Wood <span></h2>
        <b><span class="caption">A Developer You Can Talk To</span></b> </div>
    </div>
  </div>
</section>
    <section id="introText">
  <div class="container">
    <div>
      <h1>I love solving problems in the backend! But I'm not afraid to dig in and work the full stack.</h1>
      <p> My decision to make a career change and become a developer manifests itself as an overwhelming eagerness to learn.
          Coding has opened the door to a world with seemingly infinite growth opportunities, and I love the challenge of learning
      new languages and concepts. <br>
          <br>

          10 years of professional work experience has given me an <span class="combo">outstanding quiver of communication skills</span>, and my <span class="combo"> passion
          for coding </span> is matched only by the enjoyment I get through relationship building. <span class="combo">This combination is what sets me apart </span>from
          the typical junior developer.
      </p>
    </div>
  </div>
</section>
{% endblock %}