{% extends "base.html" %}
{% block content %}

    <!--Portfolio-->
    <section id="portfolio" class="page-section section appear clearfix secPad">
        <div class="container">
            <div class="heading">
                <!-- Heading -->
                <h2>Portfolio</h2>

                <p>Please visit me at Github to see my projects. <br>

                    <a href="https://github.com/smwood0906"> Sarah Wood Github </a>
                </p>

            </div>
            <div class="row">

{% endblock %}