
<body>
{% extends "base.html" %}
{% block content %}
<div> Under Construction </div>

<!--Skills-->
<section id="skills" class="secPad white">
  <div class="container">
    <div class="heading ">
      <!-- Heading -->
      <h2>Programming Skills</h2>
        <p> My proficiency with the skills below is improving daily, and I'm hungry for new languages to add to the list.</p>
    </div>
    <div class="row skillContainer">
      <div class="col-md-4 skillBox">
        <div id="diagram-id-1" class="diagram" ></div>
        <div class="chart-text">
          <h4>Python</h4>
            <h4>Django</h4>
            <h4>PostgreSQL</h4>
            <h4>JSON</h4>
        </div>
      </div>
      <div class="col-md-4 skillBox">
        <div id="diagram-id-2" class="diagram" ></div>
        <div class="chart-text">
          <h4>JavaScript</h4>
            <h4>jQuery</h4>
            <h4>APIs</h4>

        </div>
      </div>
      <div class="col-md-4 skillBox">
        <div id="diagram-id-3" class="diagram" ></div>
        <div class="chart-text">
          <h4>HTML/CSS</h4>
            <h4>Bootstrap</h4>
            <h4>Git</h4>
        </div>

  </div>

<div class="container">


</section>
{% endblock %}
</body>
</html>