.banner-container:after {
    content: ' ';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,efb31b+91&0+36,0.95+91 */
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(249, 225, 165, 0) 36%, rgba(239, 179, 27, 0.95) 91%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(249, 225, 165, 0) 36%, rgba(239, 179, 27, 0.95) 91%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(249, 225, 165, 0) 36%, rgba(239, 179, 27, 0.95) 91%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#f2efb31b', GradientType=1);}

/* IE6-9 */

.heroText {
    position: absolute;
    z-index: 3;
    top: 0px;
    left: 700px;
    right: 0px;
}

.caption {
    border-bottom: 1px solid #7a7a7a;
    border-top: 1px solid #7a7a7a;
    padding: 15px 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 16px;
    color: #ffffff;
    margin-left: 12px;
}

.blackText {
    color: #000000 !important;
}

.row{
    margin-top: 100px;
}
.navbar-inverse .navbar-nav > li > a {
    color: black;
}